/DataSets
/Abdelaziz_Codes/Sheet1_codes/*.parquet
/Abdelaziz_Codes/Sheet1_codes/*.npy
/Abdelaziz_Codes/Sheet1_codes/chebyshev_blocks/*.npy
Assignment3/Task1/*.npy
Assignment3/Task1/*.pkl
Assignment3/Task1/test_results.txt
Assignment3/Task1/validation_scores.txt
__pycache__/
*.pyc
.idea/
.venv/
Assignment3/Task3/*.csv
Assignment3/Task3/*.npy
Assignment3/Task3/Elliptic_data/*
Assignment3/Task2/all_data.zip
Assignment3/Task2/results
Assignment3/Task2/results2
Assignment3/Task2/datasets
Assignment3/Task2/k_fold_results
Assignment3/Task2/models
Assignment3/Task2/re_bytes_15/*.npy
Assignment3/Task2/re_bytes_10/*.npy
Assignment3/Task2/re_bytes_5/*.npy
Assignment4/Task2/*.npy
Assignment4/Task2/models/*
Assignment4/Task2/data
Assignment4/Task3/*.npy
Assignment4/Task3/final_data
Assignment4/Task3/*.pkl
Assignment4/Task3/*.txt
Assignment4/Task3/final_results
Abdelaziz_Sheet4_Final_submission/Task2/data
Abdelaziz_Sheet4_Final_submission/Task2/*.npy
Abdelaziz_Sheet4_Final_submission/Task3/final_data
Abdelaziz_Sheet4_Final_submission/Task3/final_results
Abdelaziz_Sheet4_Final_submission.zip

Assignment5/Task1/Resnet/data
Assignment5/Task1/Resnet/*.npy